.footer{
    background-color: #005F5F;
    color: white;
    text-align: center;
    padding: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    font-family: Arial, sans-serif;
}