.topo-lista {
    background-color: #008b8b;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lista-container {
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.titulo-lista {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-family: "Arial", sans-serif;
}


.tabela-lista {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

.tabela-lista th,
.tabela-lista td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-family: "Arial", sans-serif;

}

.tabela-lista th {
    background: #f3f3f3;
    font-weight: bold;
}

.add-produto-btn {
    display: block;
    margin: 25px auto 0;
    padding: 15px 5px;
    background-color: #008b8b;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.alerta-estoque {
    display: inline-block;
    margin-left: 8px;     
    padding: 4px 8px;
    background-color: #fd8115; 
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 6px;
}

.btn-alterar {
    padding: 6px 12px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}


.btn-excluir {
    padding: 6px 12px;
    margin-left: 10px;
    background-color: #e63946;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

.btn-excluir:hover {
    background-color: #c53030;
}